.container-cart{
    background-color: #cb6d1a;
    min-height: 750px;
}
.cartVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.texto-cartVacio{
    color: white;
    margin-bottom: 2rem;
}
.texto-cartTotal{
    color: rgb(8, 8, 8);
    font-size: 1.6rem;
    text-shadow: 1px 1.5px 1px yellow;

}
.container-subtotales{
    display: flex;
    flex-direction: column;
}
.boton-eliminar.vaciar{
    background-color: yellow !important;
    color: black;
}
.tabla-oscura{
    margin-top: 1rem;
    margin-bottom: 0;
}
.boton-checkout{
    background-color: rgb(114, 12, 209);
}
.boton-checkout:hover{
    background-color: rgb(147, 66, 223);
}