.botonesCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}
.botonVolver{
    margin: 5px auto !important;
}
.botonVolver .btn-warning{
    --bs-btn-bg: rgb(240, 93, 35);
    --bs-btn-border-color: black;
    --bs-btn-color: white;
}
.cardNombre{
    font-weight: bold;
    color: brown;
}
.botonTerminar{
   margin-right: 0px !important;
}

.texto-boton-tarjeta{
    margin-bottom: 0px;
}
.tarjeta-item{
    display: flex;
    justify-content: space-between;
}
.imgDetalle{
    max-height: 200px;
    width: fit-content;
    margin-top: 5%;
    padding: 0px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
                15px 15px 15px rgba(0, 0, 0, 0.3);
}