.img-papa{
    height: 10rem;
    border: 0.2rem solid brown;
    border-right: none;
    border-top: none;
}
h1, h2, h4, hr{
    text-align: center;
    color: brown;
}
.navbar-titulo h1{
    font-size: 2rem;
}
.navbar-titulo h2{
    font-size: 1.4rem;
}
.navbar-collapse h4{
    font-size: 1.2rem;
}