.titulo-itemlist{
    color: rgb(19, 116, 145);
}
.greeting{
    color: orangered;
    font-size: 20px;
    text-align: center;
}
.itemList-container{
    background-color: #cb6d1a;
    padding: 20px 10px;
}