.contenedor-botones{
    display: flex;
    flex-direction: column;
}
.textoContador{
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
}

.botonAgregar{
    margin: 5px auto;
}
.botonAgregar .btn-warning{
    --bs-btn-bg: #cb6d1a;
    --bs-btn-border-color: black;
    --bs-btn-color: white;
}
.btn.btn-warning{
    color: white;
    font-weight: bolder;
}
.simboloContador{
    width: fit-content !important;
    align-self: center;
}